Repository microsoftgraph/microsoft-graph-docs, pull requests merged in 2018-05, with the labels that each got.

#2540 Add description for creatorUserId on Subscription entity
  api-reference/beta/resources/subscription.md
Labels: area: webhooks, beta

#2640 CreatorUserId property rename
  api-reference/beta/api/subscription_get.md
  api-reference/beta/api/subscription_list.md
  api-reference/beta/api/subscription_post_subscriptions.md
  api-reference/beta/api/subscription_update.md
  api-reference/beta/resources/subscription.md
  concepts/changelog.md
Labels: area: webhooks, beta

#2669 Updated changelog with subscription list for v1.0
  concepts/changelog.md
Labels: area: webhooks

#2680 Fixed/Clearified Create plannerPlan requirments
  api-reference/beta/api/planner_post_plans.md
  api-reference/beta/resources/planner_overview.md
  api-reference/v1.0/api/planner_post_plans.md
  api-reference/v1.0/resources/planner_overview.md
Labels: area: planner

#2630 Fixed example payload and response
  api-reference/v1.0/api/groupsetting_post_groupsettings.md
Labels: area: groups, bug: documentation

#2271 Update message_createforward.md
  api-reference/v1.0/api/message_createforward.md
Labels: area: outlook
