Repository microsoftgraph/microsoft-graph-docs, pull requests merged in 2018-11, with the labels that each got.

#3320 Update changelog for beta update
  concepts/changelog.md
Labels: area: azure/AAD

#3306 [ready to merge] teamsApp breaking change
  api-reference/beta/api/channels_tabs_add.md
  api-reference/beta/api/team_get.md
  api-reference/beta/api/teamsapp_delete.md
  api-reference/beta/api/teamsapp_list.md
  api-reference/beta/api/teamsapp_publish.md
  api-reference/beta/api/teamsapp_update.md
  api-reference/beta/api/teamsappinstallation_add.md
  api-reference/beta/api/teamsappinstallation_delete.md
  api-reference/beta/api/teamsappinstallation_list.md
  api-reference/beta/api/teamsappinstallation_upgrade.md
  api-reference/beta/api/teamstab_add.md
  api-reference/beta/api/teamstab_delete.md
  api-reference/beta/api/teamstab_get.md
  api-reference/beta/api/teamstab_list.md
  api-reference/beta/api/teamstab_update.md
  api-reference/beta/resources/team.md
  api-reference/beta/resources/teams_api_overview.md
  api-reference/beta/resources/teamsapp.md
  api-reference/beta/resources/teamsappdefinition.md
  api-reference/beta/resources/teamsappinstallation.md
  api-reference/beta/resources/teamsasyncoperationtype.md
  api-reference/beta/resources/teamscatalogapp.md
  api-reference/beta/resources/teamstab.md
  concepts/changelog.md
  concepts/permissions_reference.md
  misc/SEOKeys-en-us.xml
Labels: area: teams

#3339 Update team.md
  api-reference/beta/api/teamsappinstallation_add.md
  api-reference/beta/resources/team.md
Labels: area: teams

#3318 Docs for the Teams built-in tabs. Also move list all teams in tenant doc to concepts.
  api-reference/beta/api/channel_list.md
  api-reference/beta/api/channel_post.md
  api-reference/beta/api/team_get.md
  api-reference/beta/api/team_list_all_teams.md
  api-reference/beta/api/teamsapp_delete.md
  api-reference/beta/api/teamsapp_publish.md
  api-reference/beta/api/teamsapp_update.md
  api-reference/beta/api/teamsappinstallation_list.md
  api-reference/beta/api/teamstab_add.md
  api-reference/beta/api/teamstab_update.md
  api-reference/beta/api/user_list_joinedteams.md
  api-reference/beta/resources/channel.md
  api-reference/beta/resources/group.md
  api-reference/beta/resources/team.md
  api-reference/beta/resources/teams_api_overview.md
  api-reference/beta/resources/teamsapp.md
  api-reference/beta/resources/teamsappdefinition.md
  api-reference/beta/resources/teamsappinstallation.md
  api-reference/beta/resources/teamstab.md
  concepts/changelog.md
  concepts/known_issues.md
  concepts/teams-configuring-builtin-tabs.md
  concepts/teams_list_all_teams.md
  misc/SEOKeys-en-us.xml
Labels: area: teams

#3346 New Teams overview
  concepts/images/teams_lifecycle.png
  concepts/teams-concept-overview.md
Labels: area: teams

#3326 Add docs and changelog for forceDelete in v1.0
  api-reference/v1.0/api/domain_forcedelete.md
  api-reference/v1.0/resources/domain.md
  concepts/changelog.md
Labels: area: azure/AAD

#3387 Update user.md
  api-reference/beta/resources/user.md
Labels: area: azure/AAD

#3330 Schema extension state transition removal: Deprecated to Available
  api-reference/beta/api/schemaextension_update.md
  api-reference/v1.0/api/schemaextension_update.md
  concepts/extensibility_overview.md
Labels: area: schema extensions

#3087 [Please merge] onboard role assignment request api for PIM
  api-reference/beta/api/privilegedrole_selfactivate.md
  api-reference/beta/api/privilegedroleassignmentrequest_cancel.md
  api-reference/beta/api/privilegedroleassignmentrequest_list.md
  api-reference/beta/api/privilegedroleassignmentrequest_my.md
  api-reference/beta/api/privilegedroleassignmentrequest_post.md
  api-reference/beta/api/privilegedrolesettings_update.md
  api-reference/beta/resources/privilegedapproval.md
  api-reference/beta/resources/privilegedroleassignmentrequest.md
  api-reference/beta/resources/privilegedrolesettings.md
  concepts/changelog.md
  concepts/permissions_reference.md
  misc/SEOKeys-en-us.xml
Labels: area: azure/AAD
