Repository microsoftgraph/microsoft-graph-docs, pull requests merged in 2018-06, with the labels that each got.

#2542 Webhooks overall cleanup
  api-reference/beta/api/subscription_get.md
  api-reference/beta/api/subscription_post_subscriptions.md
  api-reference/beta/api/subscription_update.md
  api-reference/beta/resources/webhooks.md
  api-reference/v1.0/api/subscription_post_subscriptions.md
  api-reference/v1.0/api/subscription_update.md
Labels: area: webhooks

#2525 Webhooks create subscription cleanup beta
  api-reference/beta/api/subscription_post_subscriptions.md
Labels: area: webhooks, beta

#2523 Webhooks list subscriptions beta cleanup
  api-reference/beta/api/subscription_list.md
  api-reference/beta/resources/subscription.md
  api-reference/v1.0/resources/subscription.md
Labels: area: webhooks, beta

#2665 Update plannerplan_update.md
  api-reference/beta/api/plannerplan_update.md
  api-reference/v1.0/api/plannerplan_update.md
Labels: area: planner

#2759 Fix wrong response code in notebook_post_sections response example
  api-reference/v1.0/api/notebook_post_sections.md
Labels: area: onenote

#2762 Fixed incorrect link to teamFunSettings
  api-reference/beta/resources/teams_api_overview.md
Labels: area: teams
